forecast: [
  {
    旭川: 
      icon: 'sunny'
    釧路:
      icon: 'sunny-to-cloudy'
    札幌:
      icon: 'sunny-to-rainy'
    青森:
      icon: 'cloudy'
    秋田:
      icon: 'cloudy-to-sunny'
    仙台:
      icon: 'cloudy-to-rainy'
    新潟:
      icon: 'rainy'
    宇都宮:
      icon: 'rainy-to-sunny'
    東京:
      icon: 'rainy-to-cloudy'
    長野:
      icon: 'sunny-occ-cloudy'
    金沢:
      icon: 'sunny-occ-rainy'
    名古屋:
      icon: 'cloudy-occ-sunny'
    大阪:
      icon: 'cloudy-occ-rainy'
    松江:
      icon: 'rainy-occ-sunny'
    広島:
      icon: 'rainy-occ-cloudy'
    高松:
      icon: 'sunny'
    高知:
      icon: 'rainy'
    福岡:
      icon: 'cloudy'
    鹿児島:
      icon: 'rainy'
    那覇:
      icon: 'rainy-occ-sunny'
  }, {
    旭川: 
      icon: 'sunny'
    釧路:
      icon: 'sunny-to-cloudy'
    札幌:
      icon: 'sunny-to-rainy'
    青森:
      icon: 'cloudy'
    秋田:
      icon: 'cloudy-to-sunny'
    仙台:
      icon: 'cloudy-to-rainy'
    新潟:
      icon: 'rainy'
    宇都宮:
      icon: 'rainy-to-sunny'
    東京:
      icon: 'rainy'
    長野:
      icon: 'sunny-occ-cloudy'
    金沢:
      icon: 'sunny-occ-rainy'
    名古屋:
      icon: 'cloudy-occ-sunny'
    大阪:
      icon: 'cloudy-occ-rainy'
    松江:
      icon: 'rainy-occ-sunny'
    広島:
      icon: 'rainy-occ-cloudy'
    高松:
      icon: 'sunny'
    高知:
      icon: 'rainy'
    福岡:
      icon: 'cloudy'
    鹿児島:
      icon: 'rainy'
    那覇:
      icon: 'rainy-occ-sunny'
  }, {
    旭川: 
      icon: 'sunny'
    釧路:
      icon: 'sunny-to-cloudy'
    札幌:
      icon: 'sunny-to-rainy'
    青森:
      icon: 'cloudy'
    秋田:
      icon: 'cloudy-to-sunny'
    仙台:
      icon: 'cloudy-to-rainy'
    新潟:
      icon: 'rainy'
    宇都宮:
      icon: 'rainy-to-sunny'
    東京:
      icon: 'sunny'
    長野:
      icon: 'sunny-occ-cloudy'
    金沢:
      icon: 'sunny-occ-rainy'
    名古屋:
      icon: 'cloudy-occ-sunny'
    大阪:
      icon: 'cloudy-occ-rainy'
    松江:
      icon: 'rainy-occ-sunny'
    広島:
      icon: 'rainy-occ-cloudy'
    高松:
      icon: 'sunny'
    高知:
      icon: 'rainy'
    福岡:
      icon: 'cloudy'
    鹿児島:
      icon: 'rainy'
    那覇:
      icon: 'rainy-occ-sunny'
  }
]
iconList: [
  'sunny', 'cloudy', 'rainy',
  'sunny-to-cloudy', 'sunny-to-rainy',
  'cloudy-to-sunny', 'cloudy-to-rainy',
  'rainy-to-sunny', 'rainy-to-cloudy',
  'sunny-occ-cloudy', 'sunny-occ-rainy',
  'cloudy-occ-sunny', 'cloudy-occ-rainy',
  'rainy-occ-sunny', 'rainy-occ-cloudy',
]
forecastTime: 
  '2017-09-28T17:00:00+0900': 'all'