#canvas {
  position: relative;
  background: url(../img/map42-2ns.png) no-repeat content-box;
  background-position: center top;
  background-size: contain;
  height: 1000px;
}

#loading-cover {
  font-size: 10%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
}

#loading-cover > span {
  margin: 0 auto;
}

#day-selecter {
  opacity: 0;
}

.icon, .area {
  position: absolute;
}

.icon {
  max-width: 7%;
  max-height: 9%;
}

.area {
  font-size: 3.5%;
  color: #203;
  letter-spacing: 0.1em;
}
